<div class="p-fluid p-grid">

    <p-toast [style]="{marginTop: '50px'}"></p-toast>
    <form autocomplete="false" [formGroup]="categoriaForm" (ngSubmit)="onSubmit(categoriaForm.value)">
                
        <h1>Cadastro de Categoria</h1>

        <span class="p-float-label">
            <input id="float-input" type="text" pInputText formControlName="descricao" maxlength="50" pattern="[a-zA-Z-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]*"/>
            <label for="float-input">Descrição</label>
            
            <p-message severity="error" [text]="categoriaForm.controls['descricao'].errors['required'] ? ' Descrição é obrigatório' : categoriaForm.controls['descricao'].errors['pattern'] ? 'Só é permitido letras para esse campo' : ''"
                *ngIf="!categoriaForm.controls['descricao'].valid&&categoriaForm.controls['descricao'].dirty"></p-message>
        </span>

        <p></p>

        <span class="p-float-label">

            <p-dropdown [options]="situacao" formControlName="situacao"></p-dropdown>
            <p-message severity="error" text="Situação é obrigatória" *ngIf="!categoriaForm.controls['situacao'].valid&&categoriaForm.controls['situacao'].dirty"></p-message>

        </span>

        <p></p>

        <button pButton type="submit" style="margin-right: 10px" [disabled]="formInvalid()" label="Salvar" class="ui-button-info"></button>
        
        <p></p>

        <button pButton type="button" routerLink="/categorias" label="Cancelar" class="ui-button-secondary"></button>

    </form>
</div>